<div class="block-container">
<div class="block_item_one">
    <div class="block_text">
    <h4>magni dolores eos qui</h4>
    <h2>Need Support?</h2>
    <a href="#">Click Here Link</a>
    </div>
</div>
<div class="block_item_two">
    <div class="block_text">
    <h4>affiliate program</h4>
    <h2>Refer A Friend</h2>
    <a href="#">Click Here Link</a>
</div>
</div>
</div>

{% stylesheet %}
.block-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.block_item_one {
    background-color: #eeeeee;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    border: 1px solid #999;
    padding-top: 400px;
    padding-bottom: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0663/8865/6306/files/need-support-photo.jpg');
background-size: cover; /* Adjusts the background image to cover the element */
background-position: center;
background-repeat: no-repeat; /* Prevents the image from repeating */
}
.block_item_two {
    background-color: #eeeeee;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
    border: 1px solid #999;
    padding-top: 400px;
    padding-bottom: 40px;
    background-image: url('https://cdn.shopify.com/s/files/1/0663/8865/6306/files/refer-friend-photo.jpg');
background-size: cover; /* Adjusts the background image to cover the element */
background-position: center;
background-repeat: no-repeat; /* Prevents the image from repeating */
}
.block_text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h2 {
    margin: 0;
}

h4 {
    margin: 0;
}

{% endstylesheet %}


{% schema %}
    {
        "name": "Custom JS Support Refer",
        "settings": [],
        "presets": [{"name": "Custom JS Support Refer"}]
    }
{% endschema %}