{% comment %} -------Add Keen Slider CSS------- {% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.min.css"/>

{% comment %} -------Add Keen Slider JS------- {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/keen-slider@latest/keen-slider.min.js"></script>

{% comment %} -------SLIDER SECTION START------- {% endcomment %}



<div id="my-keen-slider" class="keen-slider">
    <div class="keen-slider__slide number-slide1">
        <div class="image-wrapped_wrapped-image__c3jd0" data-aspect-ratio="1:1">
            <img srcset="https://images.ctfassets.net/rbzqg6pelgqa/2yj9Lg9vV5cKo4HRcnNeDl/8d3d6d620e0185d420735ff0377a9a6b/band-renders-sized-5.png?fm=webp&amp;q=75&amp;w=640 1x, https://images.ctfassets.net/rbzqg6pelgqa/2yj9Lg9vV5cKo4HRcnNeDl/8d3d6d620e0185d420735ff0377a9a6b/band-renders-sized-5.png?fm=webp&amp;q=75&amp;w=1920 2x" src="https://images.ctfassets.net/rbzqg6pelgqa/2yj9Lg9vV5cKo4HRcnNeDl/8d3d6d620e0185d420735ff0377a9a6b/band-renders-sized-5.png?fm=webp&amp;q=75&amp;w=1920">
        </div>
    </div>
    <div class="keen-slider__slide number-slide2">
        <div class="image-wrapped_wrapped-image__c3jd0" data-aspect-ratio="1:1">
            <img srcset="https://images.ctfassets.net/rbzqg6pelgqa/C8vHNCpTJcNSQfta0vYlI/3e5cd32ce2242f64b797eaa165f29373/band-renders-sized-2.png?fm=webp&amp;q=75&amp;w=640 1x, https://images.ctfassets.net/rbzqg6pelgqa/C8vHNCpTJcNSQfta0vYlI/3e5cd32ce2242f64b797eaa165f29373/band-renders-sized-2.png?fm=webp&amp;q=75&amp;w=1920 2x" src="https://images.ctfassets.net/rbzqg6pelgqa/C8vHNCpTJcNSQfta0vYlI/3e5cd32ce2242f64b797eaa165f29373/band-renders-sized-2.png?fm=webp&amp;q=75&amp;w=1920">
        </div>
    </div>
    <div class="keen-slider__slide number-slide3">
        <div class="image-wrapped_wrapped-image__c3jd0" data-aspect-ratio="1:1">
            <img srcset="https://images.ctfassets.net/rbzqg6pelgqa/5dpkjgRWm28D0Ly1XZcAUk/490e2d51f89da308e906cafff8b1e09d/band-renders-sized-4.png?fm=webp&amp;q=75&amp;w=640 1x, https://images.ctfassets.net/rbzqg6pelgqa/5dpkjgRWm28D0Ly1XZcAUk/490e2d51f89da308e906cafff8b1e09d/band-renders-sized-4.png?fm=webp&amp;q=75&amp;w=1920 2x" src="https://images.ctfassets.net/rbzqg6pelgqa/5dpkjgRWm28D0Ly1XZcAUk/490e2d51f89da308e906cafff8b1e09d/band-renders-sized-4.png?fm=webp&amp;q=75&amp;w=1920">
        </div>
    </div>

    <div class="keen-slider__slide number-slide4">
        <div class="image-wrapped_wrapped-image__c3jd0" data-aspect-ratio="1:1">
            <img srcset="https://images.ctfassets.net/rbzqg6pelgqa/6M79TSWCPKPCfXsg4HMCFL/4fd86ff9ad78a75b177ca469ad3dd060/band-renders-sized-3.png?fm=webp&amp;q=75&amp;w=640 1x, https://images.ctfassets.net/rbzqg6pelgqa/6M79TSWCPKPCfXsg4HMCFL/4fd86ff9ad78a75b177ca469ad3dd060/band-renders-sized-3.png?fm=webp&amp;q=75&amp;w=1920 2x" src="https://images.ctfassets.net/rbzqg6pelgqa/6M79TSWCPKPCfXsg4HMCFL/4fd86ff9ad78a75b177ca469ad3dd060/band-renders-sized-3.png?fm=webp&amp;q=75&amp;w=1920">
        </div>
    </div>
    <div class="keen-slider__slide number-slide5">
        <div class="image-wrapped_wrapped-image__c3jd0" data-aspect-ratio="1:1">
            <img srcset="https://images.ctfassets.net/rbzqg6pelgqa/2yj9Lg9vV5cKo4HRcnNeDl/8d3d6d620e0185d420735ff0377a9a6b/band-renders-sized-5.png?fm=webp&amp;q=75&amp;w=640 1x, https://images.ctfassets.net/rbzqg6pelgqa/2yj9Lg9vV5cKo4HRcnNeDl/8d3d6d620e0185d420735ff0377a9a6b/band-renders-sized-5.png?fm=webp&amp;q=75&amp;w=1920 2x" src="https://images.ctfassets.net/rbzqg6pelgqa/2yj9Lg9vV5cKo4HRcnNeDl/8d3d6d620e0185d420735ff0377a9a6b/band-renders-sized-5.png?fm=webp&amp;q=75&amp;w=1920">
        </div>
    </div>
  </div>

  <div id="thumbnails" class="keen-slider thumbnail">
    <div class="keen-slider__slide number-slide1">1</div>
    <div class="keen-slider__slide number-slide2">2</div>
    <div class="keen-slider__slide number-slide3">3</div>
    <div class="keen-slider__slide number-slide4">4</div>
    <div class="keen-slider__slide number-slide5">5</div>
  </div>

  <section class="band-accessory-routing_band-accessory-routing__controls__mn0JG">
    <div class="band-accessory-routing_band-accessory-routing__controls-content__0vgJ6">
      <div class="band-accessory-routing_band-accessory-routing__product-title__DLkls">
        <span class="text_text__NFIw2 text_text--size-md__z_JDN">Stone ($49)</span>
      </div>
      <div class="band-accessory-routing_band-accessory-routing__pagination__Llr4C" role="tablist">
        <button type="button" title="Previous slide" class="band-accessory-routing_band-accessory-routing__pagination-button-prev__5JA_B" aria-label="Previous slide" role="tab">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" role="presentation" focusable="false" viewBox="0 0 24 24">
            <path d="M7 14L12 9L17 14" stroke="#000000ff" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
          </svg>
        </button>
        <div class="keen-slider band-accessory-routing_band-accessory-routing__pagination-items__nCFlQ">
          <div class="band-accessory-routing_band-accessory-routing__pagination-items--opacity__01C9Z"></div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(163.748px, 0px, 0px);">
            <button type="button" class="band-accessory-routing_band-accessory-routing__pagination-button--active__BYlaJ" aria-selected="true" role="tab" aria-label="Stone" tabindex="0">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(163.748px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Heather" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(163.748px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Blue Jay" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(163.748px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Miami Nights" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(-382.078px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Onyx With Gold" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(-382.078px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Stone" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(-382.078px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Heather" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(-382.078px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Blue Jay" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(-382.078px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Miami Nights" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
          <div class="keen-slider-color-picker__slide band-accessory-routing_band-accessory-routing__pagination-item__IYmE1" style="min-width: 54.5826px; max-width: 54.5826px; transform: translate3d(-382.078px, 0px, 0px);">
            <button type="button" class="" aria-selected="false" role="tab" aria-label="Onyx With Gold" tabindex="-1">
              <canvas width="40" height="40"></canvas>
            </button>
          </div>
        </div>
        <button type="button" title="Next slide" class="band-accessory-routing_band-accessory-routing__pagination-button-next__ZaCKC" aria-label="Next slide" role="tab">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" role="presentation" focusable="false" viewBox="0 0 24 24">
            <path d="M7 14L12 9L17 14" stroke="#000000ff" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="explore-bottom">
        <a href="#" class="btn-link">CTA Button</a>
    </div>
  </section>

{% comment %} -------Initializing KeenSlider with JAVASCRIPT------- {% endcomment %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Initialize the main slider
        var mainSlider = new KeenSlider("#my-keen-slider", {
            slides: {
                perView: 3,
                spacing: 15
            },
            loop: true
        });

        // Define the ThumbnailPlugin function
        function ThumbnailPlugin(main) {
            return (slider) => {
                function removeActive() {
                    slider.slides.forEach((slide) => {
                        slide.classList.remove("active");
                    });
                }

                function addActive(idx) {
                    slider.slides[idx].classList.add("active");
                }

                function addClickEvents() {
                    slider.slides.forEach((slide, idx) => {
                        slide.addEventListener("click", () => {
                            main.moveToIdx(idx);
                        });
                    });
                }

                slider.on("created", () => {
                    addActive(slider.track.details.rel);
                    addClickEvents();
                    main.on("animationStarted", (main) => {
                        removeActive();
                        const next = main.animator.targetIdx || 0;
                        addActive(main.track.absToRel(next));
                        slider.moveToIdx(Math.min(slider.track.details.maxIdx, next));
                    });
                });
            };
        }

        // Initialize the thumbnails slider with the ThumbnailPlugin
        var thumbnailSlider = new KeenSlider(
            "#thumbnails",
            {
                initial: 0,
                slides: {
                    perView: 4,
                    spacing: 10
                }
            },
            [ThumbnailPlugin(mainSlider)]
        );
    });
</script>



{% comment %} -------CSS------- {% endcomment %}
{% stylesheet %}
  .explore-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    margin-top: 60px;
    margin-bottom: 60px;
  }
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  /* height: 300px; */
  /* max-height: 100vh; */
}
.image-wrapped_wrapped-image__c3jd0[data-aspect-ratio="1:1"], .image-wrapped_wrapped-image__c3jd0[data-aspect-ratio="1:2"] {
    aspect-ratio: 1 / 1;
}

.image-wrapped_wrapped-image__c3jd0 {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    line-height: 0;
}
.band-accessory-routing_band-accessory-routing__slider-item--active__mxuWV .band-accessory-routing_band-accessory-routing__slider-item--wrapped-image__HXR0Q {
    transform: rotate(0deg) scale(1.3) translateY(0);
}
.band-accessory-routing_band-accessory-routing__slider-item__J0NDR .band-accessory-routing_band-accessory-routing__slider-item--wrapped-image__HXR0Q {
    transform: scale(.7) translateY(100%);
    transform-origin: center;
    transition: transform .7s ease;
}

.band-accessory-routing_band-accessory-routing__controls__mn0JG {
    position: relative;
    z-index: 100;
    margin-top: clamp(3.75rem, 9.39vw + 1.5492957746rem, 10rem);
}

.band-accessory-routing_band-accessory-routing__controls-content__0vgJ6 {
    max-width: 47.5rem;
    margin: 0 auto;
}
.band-accessory-routing_band-accessory-routing__product-title__DLkls {
    display: flex;
    justify-content: center;
}
.band-accessory-routing_band-accessory-routing__product-title__DLkls span {
    font-weight: 600;
    opacity: .4;
    text-transform: uppercase;
}
.band-accessory-routing_band-accessory-routing__pagination__Llr4C {
    display: flex;
    max-width: 28.125rem;
    margin: clamp(1.875rem, 1.88vw + 1.4348591549rem, 3.125rem) auto;
}
.band-accessory-routing_band-accessory-routing__pagination-button-prev__5JA_B {
    width: 2.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(-90deg);
}
.keen-slider:not([data-keen-slider-disabled]) {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    width: 100%;
}
.band-accessory-routing_band-accessory-routing__pagination-items--opacity__01C9Z {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #f3f5f9, rgba(243, 245, 249, 0) 10%, rgba(243, 245, 249, 0) 90%, #f3f5f9);
    pointer-events: none;
}
.band-accessory-routing_band-accessory-routing__pagination-item__IYmE1 {
    display: flex;
    justify-content: center;
    padding: .125rem;
}

.band-accessory-routing_band-accessory-routing__pagination-items__nCFlQ .band-accessory-routing_band-accessory-routing__pagination-button--active__BYlaJ {
    outline: .125rem solid #31a2b1;
    outline-offset: 2;
}
.band-accessory-routing_band-accessory-routing__pagination-item__IYmE1>button {
    width: 2.5rem;
    height: 2.5rem;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    rotate: -45deg;
}
.band-accessory-routing_band-accessory-routing__pagination-button-next__ZaCKC {
    width: 2.5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: rotate(90deg);
}
.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

{% endstylesheet %}



{% comment %} -------SECTION CREATE------- {% endcomment %}
{% schema %}  
    {
        "name": "Custom JS Keen Slider",
        "settings": [],
        "presets": [{"name": "Custom JS Keen Slider"}]
    }
{% endschema %}