{% comment %} -------CSS------- {% endcomment %}
<link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}"/>
<link rel="stylesheet" type="text/css" href="{{ 'slick-theme.css' | asset_url }}"/>

{% comment %} -------HTML------- {% endcomment %}
{% comment %} -------HTML------- {% endcomment %}
<div class="custom-text-area">
    <h1>Legacy Edition</h1>
</div>
<div class="carousel-wrap">
  <div class="band-accessory-routing_band-accessory-routing__slider--opacity__80oPN" style="display: block !important;"></div>
  <div class="slider center blue">
    <div class="image-xkah" data-color="#FF0000"> <!-- Red -->
      <img class="" src="https://cdn.shopify.com/s/files/1/0663/8865/6306/files/champ-front-test.png?v=1719530005" style="opacity: 1;">
    </div>
    <div class="image-xkah" data-color="#00FF00"> <!-- Green -->
      <img class="" src="https://cdn.shopify.com/s/files/1/0663/8865/6306/files/emerald-front-test.png?v=1719612588" style="opacity: 1;">
    </div>
    <div class="image-xkah" data-color="#0000FF"> <!-- Blue -->
      <img class="" src="https://cdn.shopify.com/s/files/1/0663/8865/6306/files/champ-front-test.png?v=1719530005" style="opacity: 1;">
    </div>
    <div class="image-xkah" data-color="#FFFF00"> <!-- Yellow -->
    </div>
    <div class="image-xkah" data-color="#FF00FF"> <!-- Magenta -->
    </div>
  </div>
</div>
<div class="action">
    <a href="#" data-slide="1">go to slide 1</a>
    <a href="#" data-slide="2">go to slide 2</a>
    <a href="#" data-slide="3">go to slide 3</a>
  </div>
<div class="custom-button-area">
  <a href="#" class="btn-link">CTA Button</a>
</div>


{% comment %} -------JS------- {% endcomment %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ 'slick.min.js' | asset_url }}"></script>


<script>
$(document).ready(function(){
  $('.slider').slick({
    centerMode: true,
    centerPadding: '60px',
    slidesToShow: 3,
    arrows: true, // Ensure arrows are enabled
    responsive: [
      {
        breakpoint: 768,
        settings: {
          arrows: true, // Ensure arrows are enabled
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 3,
        }
      },
      {
        breakpoint: 480,
        settings: {
          arrows: true, // Ensure arrows are enabled
          centerMode: true,
          centerPadding: '40px',
          slidesToShow: 1,
        }
      }
    ]
  });

  $('a[data-slide]').click(function(e) {
     e.preventDefault();
     var slideno = $(this).data('slide');
     $('.slider').slick('slickGoTo', slideno - 1);
   });
});
</script>




{% comment %} /*  -------SECTION CREATE-------  */ {% endcomment %}
{% schema %}  
    {
        "name": "Custom JS Slider Home",
        "settings": [],
        "presets": [{"name": "Custom JS Slider Home"}]
    }
{% endschema %}